body{
	background: #009099;
}
.navbar-brand img{
	max-height: 50px;
}
.bg-light {
	background-color: #5CC7B2!important;
}
#frm{
	border: solid gray 1px;
	width: 20%;
	border-radius: 5px;
	margin: 100px auto;
	background: rgb(75, 74, 74);
	padding: 50px;
}
#btn{
	color: #fff;
	background: #6EF4EE;
	padding: 5px;
	margin-left: 59%;
}

h2 { 
  width: 20%;
}

#Temp{
	color: #eeff00;
	text-decoration: underline;
}

#Elec{
	color: #2f00ff;
	text-decoration: underline;
}

#Humid{
	color: #15ff00;
	text-decoration: underline;
}

.Humid table{
	color: #ffffff;
}

.navbarh1{
	color: #ffffff;
	Font-family: Consolas, monaco, monospace;
	text-align: center;
}

#temp{
	color: #fff;
	background: #d80707;
	padding: 5px;
	margin-left: 59%;
}

#table_humid{
	color: #fff;
	background: #6EF4EE;
	padding: 5px;
	margin-left: 59%;
}

#table_elec{
	color: #fff;
	background: #6EF4EE;
	padding: 5px;
	margin-left: 59%;
}
